<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Lista Contacto</title>
</head>
<body>
<form th:action="@{/contacto}" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="buscarLibro" class="form-control" placeholder="Buscar libros"
               th:value="${buscarLibro}">
        <button class="btn btn-primary" type="submit">Buscar</button>
    </div>
</form>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Código</th>
        <th>Título</th>
        <th>Editorial</th>
        <th>Precio</th>
        <th>Número de copias</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="libro: ${libros}">
        <td th:text="${libro.id}"></td>
        <td th:text="${libro.titulo}"></td>
        <td th:text="${libro.editorial}"></td>
        <td th:text="${libro.paginas}"></td>
        <td th:text="${libro.precio}"></td>
        <td>
            <a th:href="@{/editarLibro/} + ${libro.id}" class="btn btn-actualizar">Actualizar</a>
            <a th:href="@{/eliminarLibro/} + ${libro.id}" class="btn btn-eliminar">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/formularioLibro}" class="btn btn-guardar">Nuevo Libro</a>
<a th:href="@{/libros/pdf}" class="btn btn-pdf4">Lista de productos</a>
</div>
</body>
</html>